
.loginContainer {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #e0c3fc 0%, #8ec5fc 100%);
    padding: 20px;
  }
  
  .loginCard {
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .logoTitle {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .logoImage {
    width: 280px; /* תוכל לשנות את הגודל הזה לפי הצורך */
    height: auto;
    object-fit: contain; /* שומר על יחס הגובה/רוחב */
    margin-bottom: 30px;
  }
  
  

  
  .diceIcon {
    font-size: 2rem;
  }
  
  .loginSubtitle {
    color: #666;
    margin-bottom: 30px;
  }
  
  .loginInput {
    width: 100%;
    padding: 12px 16px;
    margin-bottom: 15px;
    border: 2px solid #eee;
    border-radius: 10px;
    font-size: 1rem;
    transition: all 0.3s ease;
  }
  
  .loginInput:focus {
    border-color: #667eea;
    outline: none;
    box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.1);
  }
  
  .loginButton {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    background:#5a6fd6;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .loginButton:hover {
    background: #8cc2f4;
    border-color: #ffffff;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
  }
  
  .google {
    background:#5a6fd6;
    color: #ffffff;
    border: 2px solid #eee;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);

  }
  
  .google:hover {
    background: #8cc2f4;
    border-color: #ffffff;
  }
  
  .googleIcon {
    width: 20px;
    height: 20px;
  }
  
  .signupLink {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    background: #5a6fd6;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  
  .signupLink:hover {
        background: #8cc2f4;
        border-color: #ffffff;
        transform: translateY(-2px);
        box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
      }  
  
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .registerModal {
    background: white;
    padding: 30px;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    position: relative;
  }
  
  .closeModal {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #666;
  }
  
  .closeModal:hover {
    color: #333;
  }
  